.DS_Store
Thumbs.db

.idea/
.vscode/
**/.idea/
**/.vscode/

.env
.env.local
**/.env
**/.env.local

*.exe
*.log
*.tmp
*.out
*.test

node_modules/
dist/
tmp/
**/node_modules/
**/dist/
**/tmp/

postgres_data/
redis_data/
minio_data/
**/postgres_data/
**/redis_data/
**/minio_data/
